:root {
    --purple: #854dff;
    --light-grey: #dbdbdb;
    --off-white: #f0f0f0;
    --error-red: #ff5757;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px 20px 150px 20px;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.input-section {
    display: flex;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 80px;
}

label {
    font-size: 12px;
    letter-spacing: 2px;
    color: #716f6f;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 12px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

input:focus {
    border-color: var(--purple);
}

.error-msg {
    color: var(--error-red);
    font-size: 10px;
    font-style: italic;
    margin-top: 5px;
    display: none;
}

.input-group.error input {
    border-color: var(--error-red);
}

.input-group.error label {
    color: var(--error-red);
}

.divider {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--light-grey);
}

#submit-btn {
    background-color: var(--purple);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.3s;
}

#submit-btn:hover {
    background-color: black;
}

#submit-btn img {
    width: 30px;
}

.results h1 {
    font-size: 50px;
    font-style: italic;
    margin: 0;
    line-height: 1.1;
}

.results span {
    color: var(--purple);
}